{% include 'header.html' %}
  <title>About page</title>
  <h1>Quick rundown</h1>
  <p></p>
<ul>
<li>Rothschilds bow to Bogdanoffs</li>
<li>In contact with aliens</li>
<li>Possess psychic-like abilities</li>
<li>Control france with an iron but fair fist</li>
<li>Own castles & banks globally</li>
<li>Direct descendants of the ancient royal blood line</li>
<li>Will bankroll the first cities on Mars (Bogdangrad will be be the first city)</li>
<li>Own 99% of DNA editing research facilities on Earth</li>
<li>First designer babies will in all likelihood be Bogdanoff babies</li>
<li>both brothers said to have 215+ IQ, such intelligence on Earth has only existed deep in Tibetan monasteries & Area 51</li>
<li>Ancient Indian scriptures tell of two angels who will descend upon Earth and will bring an era of enlightenment and unprecedented technological progress with them</li>
<li>They own Nanobot R&D labs around the world</li>
<li>You likely have Bogdabots inside you right now</li>
<li>The Bogdanoffs are in regular communication with the Archangels Michael and Gabriel, forwarding the word of God to the Orthodox Church. Who do you think set up the meeting between the pope & the Orthodox high command (First meeting between the two organisations in over 1000 years) and arranged the Orthodox leader's first trip to Antarctica in history literally a few days later to the Bogdanoff bunker in Wilkes land?</li>
<li>They learned fluent French in under a week</li>
<li>Nation states entrust their gold reserves with the twins. There's no gold in Ft. Knox, only Ft. Bogdanoff</li>
<li>The twins are about 7 decades old, from the space-time reference point of the base human currently accepted by our society</li>
<li>In reality, they are timeless beings existing in all points of time and space from the big bang to the end of the universe. We don't know their ultimate plans yet. We hope they're benevolent beings.</li>
</ul>
  
  
{% include 'footer.html' %}