<link rel= "stylesheet" type= "text/css" href= "/Bogged.me/static/stylesheet.css">
{% include 'header.html' %}

<style>
    table{
        border-collapse: collapse;
    }
    th, td{
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
    }
    
    #leaderboard{
        padding-left: 2em;

    }
</style>
<br>
<section id="leaderboard">
    <h3>Leaderboard</h3>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Date Joined</th>
                <th>Percent Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for username, user_info in leaderboard.items() %}
            <tr>
                <td>{{username}}</td>
                <td>{{user_info["date_joined"]}}</td>
                <td>{{user_info["percent_profit"]}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</section>


{% include 'footer.html' %}