{% include 'header.html' %}

<form action="#" method="post">
  <h1>Register for an account</h1>
      <p>Username<p>
      <input type="text" name = "nm" maxlength = "25"/> <p>

    <p>Email (optional)</p>
    <input type="email" name="email" maxlength = 25/><p>

      <label>Currency (Suggested: USD)
          <p></p>
    <input list="currencies" name="currency" /> </label>
    <datalist id="currencies">
        <option value = "USD">
        <option value = "EUR">
        <option value = "GBP">
        <option value = "CAD">
        <option value = "CNY">
        <option value = "JPY">
        <option value = "KRW">
        <option value = "INR">
        <option value = "ARS">
        <option value = "AUD">
        <option value = "BRL">
        <option value = "NZD">
        <option value = "RUB">
        <option value = "KWD">
        <option value = "SEK">
        <option value = "TWD">
        <option value = "ZAR">
        <option value = "NOK">
        <option value = "CHF">
        <option value = "CLP">
        <option value = "HKD">
        <option value = "CZK">
        <option value = "DKK">
    </datalist>
    <p></p>

    <p>Starting balance (Suggested: 10,000)</p>
    <input type="number" name="starting_balance" maxlength="10" />

    <p>Password</p>
    <p><input type="password" name = "pw" maxlength = "30" /> <p>

    <p>Confirm password</p>
    <p><input type="password" name = "cpw" maxlength = "30" /> <p>



    <p><input type="submit" value="submit"/> </p>

</form>

{% include 'footer.html' %}