{% include 'header.html' %}

<h1>Hello, {{ user }}</h1>

<br>
<table style="width: 100%;">
  <tr><td><h3 style="text-align:left">Your total profit is: {{(percent_profit * 100 - 100)|round(2)}}%</h3></td>
  <td class="alignRight"><h3 style="float:right">Your cash balance is: ${{balance}}</h3>
</td></tr>
</table>

<h3 style="float:right">Your total balance is: ${{balance_total|round(2)}}</h3>
<h3>Your wallet contains:</h3>
<ul>
	{% for k, v in wallet.items() %}
	<dt>{{k}} : {{v}} </dt>
	{% endfor %}
</ul>

{% include 'findprice.html' %}

{% include 'buy.html' %}

{% include 'sell.html' %}

{% include 'footer.html' %}